@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap');
.content{
    max-width: 1280px; 
    height: 100vh;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
}
h3{
    text-align: center;
    margin-top: 50px;
}
#onion{
    width: 345px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.check_group{
    display: flex;
    flex-direction: row; 
    margin: 0 auto;
    margin-top: 5%;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 17px;
}
.btn_group{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
#water{
    border: none;
    background-color: transparent;
    margin-right:10px ;
}
#reset{
    border:none;
    background: url(../image/resetbutton.svg);
    width:59px;
    height: 59px;
    background-repeat: no-repeat;
    background-size: cover;

}  
#reset>img{
    position: relative;
    top : -2px;
    bottom: 0px;
}
input[type="radio"]{
    margin-right: 10px;
}
label{
    margin: 10px;   
}
.img_box{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-content: center;
}

#background5{
    position: relative;
    top:100%;
    background-color: #A7DC71;
    width: 100%;
    height: 270px;
    color: white;
}
.tabletext{
    padding-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
.tabletext *{
    font-size: 13px;
}
td{
    padding: 8px;;
}
.icons{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.t1{
    padding-right: 10%;
}
.t2{
    padding-right: 5%;
}
@media screen and (max-width: 1000px) {
    .tabletext{
        margin-left: 5%;
        margin-right: 5%;
    }
    .inicon{
        margin-left: 10px;
    }
}

@media screen and (max-width: 540px) {
    .tabletext *{
        font-size: 12px;
    }
}



